@model IEnumerator<WebAppBMS.Models.Category>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-4">
        <h1>Categories Table</h1>
    </div>
    <div class="col-8">
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control" type="text">
        </form>
    </div>
</div>

